
.backfon{
    -fx-background-color: #191A21;
}

.btn{
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to bottom left, #fb8b24,#92dce5);
    -fx-border-style: dashed;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-border-color: #ffff;
}
.numbers {
    -fx-background-color: #91DBE370;
    -fx-border-style: dashed;
    -fx-border-radius: 50%;
    -fx-border-width: 1px;
    -fx-border-color: #ffff;
    -fx-background-radius: 50%;
}


/*
#FB8B24 - оранжевый
#383D3B - темный серый с зеленцой
#312b2e - почти черный
#7C7C7C - светлый серый
#92DCE5 - нежный голубой
#52DEE5 - яркий голубой
 */